@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Raleway:wght@800&display=swap");
@import "~@fortawesome/fontawesome-pro/css/all.css";
@import "~dropzone/dist/dropzone.css";
// @import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap";

@import "functions";

$primary: #ffa900;
$secondary: #203744;
$lightGrey: #f2f2f2;

%animate {
    transition: all 0.2s ease-in;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #ffa900;
        border: 0px solid #ddd;
        opacity: 0;
    }
    50% {
        width: 10px;
        height: 10px;
        background: #ffa900;
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }
    100% {
        width: 7px;
        height: 7px;
        background: #ffa900;
        border: 0px solid #222;
        bottom: 13px;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-02deg);
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

body {
    background-color: white;
    line-height: 1.5;
    padding-top: remify(80px);
    font: {
        family: "Cabin", sans-serif;
        size: 16px;
        weight: 400;
    }
    color: $secondary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: no-common-ligatures;
    overflow-x: hidden;
}

main {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: {
        family: "Raleway", sans-serif;
        weight: 800;
    }
}

h2 {
    font-size: remify(48px);
    margin-bottom: remify(40px);
}

h3 {
    font-size: remify(28px);
    // margin-bottom: remify(40px);
}

p {
    span.informative {
        position: relative;
        padding-left: 16px;
        cursor: help;

        &:before {
            width: 8px;
            height: 8px;
            content: "\f059";
            position: absolute;
            color: #9da5a9;
            top: -3px;
            left: 0;
            font: {
                family: "Font Awesome 5 Pro";
                weight: 900;
                size: 12px;
            }
        }

        &:after {
            border-bottom: 1px $secondary dashed;
            position: absolute;
            bottom: 1px;
            left: 0;
            content: "";
            width: 100%;
        }

        /* Tooltip text */
        .tooltiptext {
            visibility: hidden;
            width: 300px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            font-size: remify(16px);

            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            transform: translateX(-50%);

            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 0.3s;
        }

        /* Tooltip arrow */
        .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        &:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}

header {
    .social-icons {
        &__icon {
            @extend %animate;
            width: 36px;
            height: 36px;
            background-color: transparent;
            border-radius: 50%;

            a {
                @extend %animate;
                font-size: 20px;
                color: black;
            }

            &:hover {
                background-color: $secondary;

                a {
                    color: $primary;
                }
            }
        }
    }
}

.intro-heading {
    margin-top: remify(100px);
    color: black;

    &__title {
        position: relative;

        h1 {
            font-size: remify(38px);
            line-height: remify(40px);
            text-transform: uppercase;
            animation: mainFadeIn 1s forwards;
            animation-delay: 0.8s;
            opacity: 0;

            @include media-breakpoint-up(lg) {
                font-size: remify(70px);
                line-height: remify(85px);
            }
            @include media-breakpoint-up(xl) {
                font-size: remify(90px);
            }
        }

        .block {
            width: 0%;
            height: 100%;
            background: #ffb510;
            position: absolute;
            animation: mainBlock 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        }
    }

    &__role {
        position: relative;

        p {
            animation: secFadeIn 1s forwards;
            animation-delay: 1.8s;
            opacity: 0;
            letter-spacing: 1.85px;
            font: {
                size: remify(15px);
                weight: 700;
            }

            @include media-breakpoint-up(md) {
                font-size: remify(20px);
            }
        }

        .block {
            width: 0%;
            height: 100%;
            background: #203744;
            position: absolute;
            animation: secBlock 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
            animation-delay: 1.1s;
        }
    }
}

.nav-items {
    &__item {
        @extend %animate;
        position: relative;
        color: currentColor;
        text: {
            transform: uppercase;
            decoration: none;
        }
        font: {
            size: remify(18px);
        }

        &:after {
            @extend %animate;
            width: 0;
            height: 4px;
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $primary;
            border-radius: 4px;
        }

        &:hover {
            color: currentColor;

            &:after {
                width: calc(100% - 6px);
            }
        }
    }
}

#profile {
    margin-top: remify(100px);
    position: relative;

    &:before {
        background-color: $primary;
        content: "";
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: remify(80px);
        left: 0;
        z-index: -1;
    }

    .profile-inner {
        background-color: $lightGrey;
        padding: remify(15px);
        box-shadow: 0px 2px 40px rgba(black, 0.2);

        @include media-breakpoint-up(lg) {
            padding: remify(40px);
        }

        &__text {
            @include media-breakpoint-up(lg) {
                margin-left: remify(40px);
            }

            p {
                line-height: remify(28px);
                letter-spacing: remify(1.2px);
                font: {
                    size: 18px;
                }

                a {
                    @extend %animate;
                    position: relative;
                    color: currentColor;
                    z-index: 1;
                    text: {
                        decoration: none;
                    }
                    font-weight: bold;

                    &:after {
                        @extend %animate;
                        width: 0;
                        height: 4px;
                        content: "";
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        background-color: $primary;
                        border-radius: 4px;
                        z-index: -1;
                    }

                    &:hover {
                        color: currentColor;

                        &:after {
                            width: calc(100% - 6px);
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        img {
            width: 50%;
        }
    }
}

#portfolio {
    margin-top: remify(80px);

    .portfolio-item {
        @extend %animate;
        margin-bottom: remify(30px);

        &:hover {
            box-shadow: 0px 2px 40px rgba(black, 0.2);
        }

        &__image {
            width: 100%;
            max-height: remify(250px);
            object-fit: cover;
        }

        &__content {
            padding: remify(20px);
            border: solid 1px #f4f4f4;
            border-top: none;

            a {
                @extend %animate;
                position: relative;
                color: currentColor;
                text: {
                    transform: uppercase;
                    decoration: none;
                }

                &:after {
                    @extend %animate;
                    width: 0;
                    height: 4px;
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: $primary;
                    border-radius: 4px;
                }

                &:hover {
                    color: currentColor;

                    &:after {
                        width: calc(100% - 16px);
                    }
                }
            }

            p {
                font-size: remify(18px);
                margin-bottom: remify(10px);
            }

            .tags {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    position: relative;
                    line-height: remify(16px);
                    font-size: remify(14px);
                    padding: remify(8px 12px);
                    margin: remify(4px 10px 4px 0);
                    background-color: $primary;
                    border-radius: remify(8px);
                    display: block;
                }
            }
        }
    }
}

#skills {
    margin-top: remify(80px);

    .skills-list {
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            position: relative;
            font-size: remify(20px);
            padding: remify(8px 12px 8px 24px);
            margin: remify(4px 8px);
            display: block;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: $secondary;
                width: 16px;
                height: 16px;
            }

            @include media-breakpoint-up(md) {
                line-height: remify(34px);
                font-size: remify(28px);
            }
        }
    }
}

#url {
    margin: remify(40px 0);
    font-size: remify(18px);

    @include media-breakpoint-up(md) {
        font-size: remify(22px);
    }

    a {
        @extend %animate;
        position: relative;
        color: currentColor;
        text: {
            decoration: none;
        }
        font-weight: 900;

        &:after {
            @extend %animate;
            width: 0;
            height: 4px;
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $primary;
            border-radius: 4px;
        }

        &:hover {
            color: currentColor;

            &:after {
                width: calc(100% - 6px);
            }
        }
    }
}

#contact {
    margin-top: remify(80px);

    .contact {
        &__text {
            font-size: remify(22px);

            a {
                @extend %animate;
                position: relative;
                color: currentColor;
                text: {
                    decoration: none;
                }
                font-weight: 900;

                &:after {
                    @extend %animate;
                    width: 0;
                    height: 4px;
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: $primary;
                    border-radius: 4px;
                }

                &:hover {
                    color: currentColor;

                    &:after {
                        width: calc(100% - 6px);
                    }
                }
            }
        }
    }
}

#project {
    margin-top: remify(80px);

    p {
        font-size: remify(22px);
    }
}

footer {
    margin: remify(100px 0);

    p {
        font-size: remify(18px);

        i {
            font-size: remify(14px);
            margin: remify(0 6px);
            animation: heartbeat 2.5s infinite;
            &.fa-gradient {
                background: rgb(106, 0, 0);
                background: linear-gradient(
                    342deg,
                    rgba(106, 0, 0, 1) 0%,
                    rgba(173, 22, 22, 1) 35%,
                    rgba(255, 0, 80, 1) 100%
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        @include media-breakpoint-up(md) {
            font-size: remify(22px);
        }
    }
}
