<template>
    <label for="file" class="block text-sm font-medium text-gray-700">
        Upload Cover Photo
    </label>
    <form action="/admin/projects/image/upload" class="dropzone mt-1 p-0 border-2 border-gray-300 border-dashed rounded-2xl" id="imageUpload">
        <input type="hidden" :value="csrfToken" name="_token"/>
        <div class="fallback">
            <input id="file" name="file" type="file" multiple />
        </div>
    </form>
</template>

<script>

import Dropzone from "dropzone";
import { onMounted } from '@vue/runtime-core';

export default {
  setup() {
    let csrfToken = document.querySelector('meta[name="csrf-token"]').content;

    onMounted(() => {
        // Make sure Dropzone doesn't try to attach itself to the element automatically.
        Dropzone.autoDiscover = false;

        let fileDropzone = new Dropzone("#imageUpload");

        fileDropzone.on("processing", function(file, response) {
            Swal.fire({
                title: "Please Wait...",
                text: "Your image is currently being uploaded.",
                icon: "info",
                position: 'center',
            })
            Swal.showLoading();
        });

        fileDropzone.on("error", function(file, errorMessage, response) {
            fileDropzone.removeFile(file);
            if(errorMessage.exception == "Illuminate\\Http\\Exceptions\\PostTooLargeException"){
                errorMessage = "The image you've uploaded is too large, please upload an image that is below the maximum filesize of 5MB"
            }
            Swal.fire({
                title: "Oops!",
                text: "There was an issue with the image you uploaded! The system reported the following error: " + errorMessage,
                icon: "error",
                position: 'center',
            })
        });

        fileDropzone.on("success", function(file, response) {
            fileDropzone.removeFile(file);
            Swal.fire({
                title: "Success!",
                text: "Your image has been uploaded!",
                icon: "success",
                position: 'center',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            // document.getElementById("imageFilename").setAttribute('src', response.url)
            document.getElementById("imageFilename").setAttribute('value', response)
        });

        Dropzone.options.imageUpload = {
            maxFilesize: 5, // MB
        };
    });

    return {
        csrfToken
    }
  },
}
</script>